.dropdown-toggle.btn.btn-link{
    padding: 0 !important;
}
.date-picker-container {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .form-control.disabled {
    background-color: #e9ecef;
  }