.dropdown-toggle.btn.btn-link{
    padding: 0 !important;
}
.date-picker-container {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .form-control.disabled {
    background-color: #e9ecef;
  }
  .bgImg {
    background: url('./../../assets/rice-bags.jpg') no-repeat center center fixed;
    background-size: cover;
}

.cardBGImg {
    background: rgba(255, 255, 255, 0.8); /* Light background for readability */
}
.bgColor{
    background: rgba(255, 255, 255, 0.8); /* Translucent white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    border-radius: 8px; /* Optional: rounded corners */
    padding: 20px; /* Optional: spacing inside the card */
}
.form-control ,.form-outline .form-control{
    /* border: 1px solid green !important; */
    background-color: transparent !important;
}
.form-outline .input-invalid{
    border: 2px solid #dc4c64 !important;
}
/* .form-outline .form-control{
    border: 2px solid green !important;
} */