.form-label-text{
    font-size: 20px;
    color: #14a44d !important;
}
.loginBtn{
    border-top-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
    border-top-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
}
.loginBtn:hover {
    border-top-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
    background: pink !important;
    color: #000 !important;
    border-top-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}