.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 100%;
  height: 100%;
}
.headingContainer{
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffc107;
  background-color: pink;
}
.headingContainer_md-4{
  width: 33.33%;
}
.headingContainer_heading{
  border: 2px solid yellow;
  width: 33.33%;
}
input.form-control.fst-italic.fw-bold::placeholder {
  font-size: 12px !important;
}
.fontSize{
  font-size: 12px;
}